.advantages {
  width: 1440px;
  margin: 0 auto;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
  margin: 29px 0 29px 21px;
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 40px;
  counter-reset: advantages;
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  margin-bottom: -2px;
  counter-increment: advantages;
}

.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.advantages__item--petal::before {
  background-image: url("./source/img/petal.svg");
}

.advantages__item--powder::before {
  background-image: url("./source/img/powder.svg");
  z-index: 3;
}

.advantages__item--dining::before {
  background-image: url("./source/img/dining.svg");
}

.advantages__item--scales::before {
  background-image: url("./source/img/scales.svg");
}

@media (max-width: 767px) {
  .advantages__text {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .advantages {
    padding: 0 30px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin: 0;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 230px 230px;
    column-gap: 153px;
    row-gap: 264px;
    margin: 0;
    padding: 0;
  }

  .advantages__item {
    max-width: 230px;
  }

  .advantages__item::before {
    top: 10px;
    width: 80px;
    height: 80px;
  }

  .advantages__item::after {
    font-family: "Oswald" "Verdana", sans-serif;
    width: 120px;
    content: counter(advantages);
    position: absolute;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;
    top: 100px;
    right: 0;
    left: auto;
  }

  .advantages__text {
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    top: 100px;
    left: 0;
    right: auto;
    width: 250px;
  }
}

@media (min-width: 1440px) {
  .advantages {
    padding: 0;
  }

  .advantages__title {
    margin-left: 110px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 110px;
  }

  .advantages__item::after {
    width: 134px;
    content: counter(advantages);
    position: absolute;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;
    top: 100px;
    right: auto;
    left: 115px;
  }
}
