.advantages {
  padding: 0;
  margin: 0;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.advantages__list {
  list-style-type: none;
}

.advantages__image {
  background: #68b738;
  width: 60px;
  height: 60px;
}

.advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
