.catalog-nav-map {
  margin: 0;
  padding: 0;
}

.catalog-nav-map__container {
  padding: 20px 26px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
}

.catalog-nav-map__title {
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.catalog-nav-map__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  max-width: 147px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .catalog-nav-map__container {
    padding: 20px 70px;
  }
}

@media (min-width: 1440px) {
  .catalog-nav-map__container {
    background: #ffffff;
  }
}
