.catalog-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

@media (max-width: 767px) {
  .catalog-container {
    padding: 0;
  }

  .catalog-title {
    position: relative;
    padding: 27px 20px 41px 20px;
  }

  .catalog-title::before {
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
  }
}

@media (min-width: 768px) {
  .catalog-title {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 30px 82px 30px;
  }
}

@media (min-width: 1440px) {
  .catalog-title {
    padding: 74px 110px 84px 110px;
    margin-bottom: 84px;
  }
}
