.description {
  background: #eaeaea;
  margin: 0;
  padding: 0;
}

.description__title {
  font-size: 36px;
  line-height: 40px;
}

.description__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.description__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.description__item {
  font-size: 24px;
  line-height: 24px;
}

.description__signature {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
}

.description__expenses {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .description__list {
    display: flex;
    align-items: center;
  }

  .description__container {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1440px) {
  .description {
    display: flex;
  }

  .description__container {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
