.excerpt {
  padding: 0;
  margin: 0;
}

.excerpt__content {
  background: #d9d9d9;
  margin: 20px;
}

.excerpt__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.excerpt__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.excerpt__link {
  text-decoration: none;
  color: #000000;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .excerpt__content {
    margin: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
  }

  .excerpt__title {
    font-size: 36px;
    line-height: 36px;
  }

  .excerpt__text {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  .excerpt__link {
    font-size: 20px;
    line-height: 30px;
  }

  .excerpt__item {
    order: 4;
  }
}

@media (min-width: 1440px) {
  .excerpt {
    display: flex;
    justify-content: center;
  }

  .excerpt__content {
    width: 570px;
    margin: 0 40px 40px 40px;
  }

  .excerpt__text {
    width: 467px;
    margin-left: 52px;
    margin-bottom: 23px;
  }

  .excerpt__item {
    order: 0;
    display: inline-block;
  }

  .excerpt__link {
    margin-left: 52px;
  }
}
