.excerpt__content {
  background: #d9d9d9;
}

.excerpt__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.excerpt__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.excerpt__link {
  text-decoration: none;
  color: #000000;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
