.main-nav__wrapper {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__list-item {
  list-style-type: none;
}

.main-nav__list-link {
  text-decoration: none;
  display: block;
  color: #000000;
}
