.main-footer {
  padding: 0;
  margin: 0;
}

.main-footer__title-link {
  display: block;
  text-align: center;
}

.main-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-footer__item {
  margin: 0;
  padding: 0;
  width: 28px;
  height: 22px;
}

.main-footer__item:not(:last-child) {
  margin-right: 24px;
}

.main-footer__main-link {
  display: flex;
  justify-content: space-between;
  max-width: 767px;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-around;
  }
}
