.main-header {
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: start;
  }
}
