.privilege {
  margin: 0;
  padding: 0;
}

.privilege__container-line {
  position: relative;
}

.privilege__container-line::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.privilege__container-line-title {
  max-width: 1440px;
  margin: 0 auto;
}

.privilege__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  width: 245px;
  padding: 0 20px;
  background-color: #ffffff;
  display: inline-block;
  margin-bottom: 36px;
}

.privilege__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privilege__item::before {
  content: "";
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  top: 0;
  left: 0;
  right: auto;
  display: block;
}

.privilege__item-last::after {
  content: "";
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.privilege__item-title {
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
}

.privilege__item-text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.privilege__item-button {
  font-family: "Oswald", sans-serif;
  display: block;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #68b738;
  border: none;
  width: 280px;
  padding: 10px 109px;
  margin-bottom: 19px;
}

.privilege__aside {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 280px;
}

.privilege__aside-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  color: #ffffff;
  width: 161px;
  left: 57px;
  bottom: 30px;
  right: auto;
}

@media (max-width: 767px) {
  .privilege__title::before {
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
  }
}

@media (min-width: 768px) {
  .privilege__title {
    font-size: 36px;
    line-height: 36px;
    width: 400px;
    margin: 68px 0 80px 30px;
    padding: 0 37px;
  }

  .privilege__item {
    width: auto;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .privilege__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px;
  }

  .privilege__item-title {
    font-size: 20px;
    line-height: 20px;
  }

  .privilege__item-text {
    font-size: 16px;
    line-height: 20px;
  }

  .privilege__item-text span {
    margin-left: 49px;
  }

  .privilege__item-button {
    width: 632px;
    margin: 0 38px 28px 38px;
    line-height: 16px;
  }

  .privilege__aside {
    width: 707px;
  }

  .privilege__aside-text {
    text-align: left;
    width: 161px;
    right: 50px;
    bottom: 56px;
    left: auto;
  }
}

@media (min-width: 1440px) {
  .privilege__title {
    margin: 75px 0 80px 70px;
  }

  .privilege__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .privilege__list {
    margin-left: 110px;
    width: 896px;
  }

  .privilege__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .privilege__item-container {
    width: 612px;
    padding: 0;
    margin: 25px 0;
  }

  .privilege__item-title {
    margin: 0;
  }

  .privilege__item-text {
    width: 279px;
    margin: 0;
  }

  .privilege__item-button {
    width: 244px;
    padding: 7px 28px;
    margin: 15px 0;
  }

  .privilege__aside {
    width: 245px;
  }

  .privilege__aside-text {
    text-align: center;
    width: 161px;
    right: 38px;
    bottom: 37px;
    left: auto;
  }
}
