.questionnaire {
  margin: 0;
  padding: 0;
}

.questionnaire__list {
  list-style-type: none;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.questionnaire__item {
  display: flex;
  margin-bottom: 14px;
}

.questionnaire__item-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-right: 13px;
  width: auto;
}

.questionnaire__item-input {
  border: #d9d9d9 solid 1px;
  border-radius: 0;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  margin-left: 1px;
  cursor: pointer;
}

.questionnaire__item-input:hover {
  border-color: #cdcdcd;
}

.questionnaire__item-input:focus {
  border: 2px solid #444444;
}

.questionnaire__item-input:invalid {
  border: 2px solid #ff8282;
}

.filter {
  margin: 0;
  padding: 0;
  border: #d9d9d9 solid 1px;
  border-left: none;
  border-right: none;
}

.filter__list {
  line-height: 18px;
  list-style-type: none;
  text-transform: uppercase;
  color: #222222;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 20px;
}

ul .filter__item:not(:last-child) {
  margin-bottom: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 30px;
}

.control__mark {
  position: absolute;
  top: -7px;
  left: 0;
  width: 30px;
  height: 30px;
  border: #cdcdcd 1px solid;
  border-radius: 50%;
}

.control:hover .control__mark {
  border-color: #bababa;
}

.control__input:disabled + .control__mark {
  border-color: #222222;
  opacity: 0.3;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.control__text {
  font-size: 16px;
  line-height: 18px;
  margin-left: 15px;
}

.contact__container-line,
.comment__container-line,
.recommendation__container-line {
  position: relative;
}

.contact__container-line::before,
.comment__container-line::before,
.recommendation__container-line::before {
  content: "";
  position: absolute;
  top: 45%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.contact__container-line-title,
.comment__container-line-title,
.recommendation__container-line-title {
  margin: 0 auto;
}

.contact__title,
.comment__title,
.recommendation__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 36px;
  padding: 0 20px;
  background-color: #ffffff;
  display: inline-block;
}

.contact {
  margin: 0;
  padding: 0;
}

.contact__container-email-tel {
  margin: 0 20px;
}

.contact__email {
  position: relative;
  margin-bottom: 14px;
}

.contact__email::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 18px;
  right: 20px;
  background-image: url("/img/message.svg");
  background-repeat: no-repeat;
}

.contact__tel {
  position: relative;
}

.contact__tel::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 17px;
  background-image: url("/img/telephone.svg");
  background-repeat: no-repeat;
}

.contact__email,
.contact__tel {
  display: flex;
  align-items: center;
}

.contact__email-label,
.contact__tel-label {
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.contact__email-input,
.contact__tel-input {
  font-family: "Oswald", "Arial", sans-serif;
  border: #dcdcdc solid 1px;
  border-radius: 0;
  height: 45px;
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
}

.comment__title {
  font-size: 24px;
  line-height: 26px;
}

.comment__area {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: #e7e7e7 solid 1px;
  border-radius: 0;
  text-align: center;
  margin: 0 20px;
}

.recommendation__title {
  font-size: 24px;
  line-height: 26px;
}

.recommendation__list {
  list-style-type: none;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.recommendation__item {
  display: flex;
  align-items: center;
}

.recommendation__item:disabled {
  opacity: 0.3;
}

ul .recommendation__item:not(:last-child) {
  margin-bottom: 30px;
}

.customization {
  position: relative;
  display: block;
  padding-left: 30px;
}

.customization__mark {
  position: absolute;
  top: -7px;
  left: 0;
  width: 30px;
  height: 30px;
  border: #cdcdcd 1px solid;
}

.customization:hover .customization__mark {
  border-color: #000000;
}

.customization__input:disabled + .customization__mark {
  border-color: #000000;
  opacity: 0.3;
}

.customization__input[type="checkbox"]:checked + .customization__mark::before {
  position: absolute;
  top: 16px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #68b738;
  content: "";
  transform: rotate(45deg);
}

.customization__input[type="checkbox"]:checked + .customization__mark::after {
  position: absolute;
  top: 15px;
  left: 9px;
  width: 18px;
  height: 2px;
  background-color: #68b738;
  content: "";
  transform: rotate(-45deg);
}

.customization__label {
  font-size: 16px;
  line-height: 18px;
  margin-left: 18px;
}

.survey__button {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  width: 280px;
  border: none;
  background: #68b738;
  color: #ffffff;
  padding: 7px 44px;
}

.hint {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 280px;
}

@media (max-width: 767px) {
  ul .questionnaire__item:last-child {
    margin-bottom: 27px;
  }

  .contact__title {
    width: 200px;
  }

  .contact__email-label {
    width: 70px;
  }

  .hint {
    margin-top: 21px;
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .questionnaire__list {
    margin: 66px 70px 72px 70px;
  }

  .questionnaire__item {
    margin-bottom: 20px;
  }

  .questionnaire__item-label {
    font-size: 20px;
    line-height: 30px;
  }

  .questionnaire__item-input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  .control__text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }

  .filter {
    border: #e7e7e7 solid 1px;
    margin: 0 70px 75px 70px;
  }

  .filter__list {
    margin-left: 30px;
  }

  .control {
    padding-left: 40px;
  }

  .control__mark {
    top: -7px;
    left: 0;
    width: 40px;
    height: 40px;
  }

  .control__input[type="radio"]:checked + .control__mark::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .contact__container-line::before,
  .comment__container-line::before,
  .recommendation__container-line::before {
    top: 40%;
  }

  .contact__title,
  .comment__title,
  .recommendation__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0 40px;
    margin-left: 30px;
  }

  .contact__title {
    width: auto;
  }

  .contact__container-email-tel {
    margin: 0 70px;
  }

  .contact__email-label {
    width: 80px;
  }

  .contact__email-label,
  .contact__tel-label {
    font-size: 20px;
    line-height: 30px;
  }

  .contact__email-input,
  .contact__tel-input {
    font-size: 20px;
    line-height: 30px;
  }

  .comment__area {
    font-size: 20px;
    line-height: 30px;
    width: 82%;
    margin: 0 70px;
    text-align: left;
    padding: 10px 0 0 20px;
  }

  .recommendation__list {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    column-gap: 123px;
    row-gap: 32px;
    width: 565px;
    padding: 0;
    margin: 0;
    margin-left: 70px;
  }

  .customization__label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
  }

  .customization__mark {
    width: 40px;
    height: 40px;
    top: -3px;
  }

  .customization__input[type="checkbox"]:checked + .customization__mark::before {
    top: 21px;
    left: 5px;
    width: 17px;
    height: 3px;
  }

  .customization__input[type="checkbox"]:checked + .customization__mark::after {
    top: 19px;
    left: 15px;
    width: 23px;
    height: 3px;
  }

  .survey {
    display: flex;
    align-items: center;
    margin: 50px 0 72px 70px;
  }

  .survey__button {
    width: 282px;
    padding: 13px 0;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .questionnaire__container-list-filter {
    display: flex;
    justify-content: space-between;
  }

  .questionnaire__list {
    width: 568px;
    margin: 0;
    margin-left: 110px;
  }

  .filter {
    width: 568px;
    margin: 0 110px 24px 0;
  }

  .filter__list {
    margin: 40px 28px;
  }

  .contact__title,
  .comment__title,
  .recommendation__title {
    margin-left: 70px;
  }

  .contact__email {
    margin: 0;
  }

  .contact__email-input {
    width: 486px;
  }

  .contact__tel-input {
    width: 472px;
  }

  .contact__container-email-tel {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
    align-items: center;
    width: 1240px;
  }

  .comment__area {
    width: 1220px;
    margin: 0 110px;
  }

  .recommendation__list {
    display: flex;
    width: 1130px;
    margin-left: 110px;
    align-items: flex-start;
  }

  .survey {
    margin-left: 110px;
  }

  .survey__button {
    width: 568px;
    padding: 13px 188px;
  }
}
