.description__result {
  background: #eaeaea;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__result-common {
  display: flex;
  margin-top: 15px;
}

.description__result-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
