.subject {
  margin: 0;
  padding: 0;
}

.subject__title {
  margin: 27px 0 25px 36px;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.subject__quote {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 29px 60px;
  padding: 0;
}

.subject__link {
  font-family: "Oswald", "Arial", sans-serif;
  background: #68b738;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 11px 44px;
  border: none;
  margin: 0 20px;
  cursor: pointer;
}

@media (min-width: 180px) {
  .subject {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .subject__container {
    background-image: url("/img/geen_cat_mob.svg"),
      url("/img/green_cat_mobile.jpg");
    background-repeat: no-repeat;
    background-position: 1px 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .subject__image {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: -2px;
  }

  .subject__link {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .subject {
    background: #ffffff;
    padding-left: 81px;
    padding-top: 24px;
    padding-right: 30px;
    position: relative;
  }

  .subject__title {
    text-align: start;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 41px;
  }

  .subject__quote {
    text-align: start;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 38px;
    margin-bottom: 20px;
  }

  .subject__image {
    width: 709px;
    height: 609px;
    margin-left: -52px;
  }

  .subject__link {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin-right: auto;
    position: absolute;
    top: 284px;
    left: 102px;
  }
}

@media (min-width: 1440px) {
  .subject {
    padding: 0;
    margin: 0;
    padding-left: 190px;
    padding-top: 82px;
    background: none;
  }

  .subject__container {
    margin: 0;
    position: relative;
  }

  .subject__container-image {
    width: 720px;
    height: 694px;
    background-image: url("/img/green_cat_des.svg"),
      url("/img/green_cat_desktop.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 720px 694px;
    position: absolute;
    z-index: -1;
    margin-left: 533px;
    margin-top: -215px;
  }

  .subject__title {
    margin: 0;
    width: 425px;
  }

  .subject__quote {
    margin: 0;
    margin-top: 40px;
    width: 425px;
  }

  .subject__image {
    max-width: 552px;
    max-height: 499px;
    margin: 0;
    margin-left: 391px;
    margin-top: -225px;
  }

  .subject__link {
    margin: 0;
    left: 190px;
    padding: 14px 26px;
  }
}
